.container{
  position : fixed;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

div.olControlScaleLine { 
  left: auto; 
  bottom:10px; 
  font-size:xx-small; 
  right:10px; 
  background-color:white; 
  margin: 20 20 20 20; 
  border:solid white 10px; 
  }     

@font-face {
  font-family: "TheJamsil5Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2")
    format("woff2");
  font-weight: 100;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "TheJamsil5Bold";
  height: 100%;
  width: 100%;
}

nav {
  /* background-color: #e69a06; */
}

.nav-container {
  width: 100%;
  height: 100%;
  padding: 1rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-title {
  font-size: 3rem;
}

.nav-safe {
  position : absolute;
  right: 0;
  width: 6rem;
  font-size: 1.5rem;
  border: 0;
  cursor: pointer;
  font-family: inherit;
  background-color: transparent;
}

.nav-safe:hover {
  background-color: transparent;
}

.category-title {
  font-size: 3.5rem;
}

.category-list {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 50px;
  z-index: 20;
  border-top: 1px;
  background-color: white;
}

.category-item {
  width: 25%;
  height: 5rem;
  background: none;
  border: none;
  font-family: inherit;
  font-size: 1.6rem;
}

.category-item:hover {
  color: gray;
  cursor: pointer;
}

.inner {
  padding: 0 1.5rem;
  width: 100%;    /* 1024 이상 잘림 방지*/
  height: 100%;   /* 확장 */
}

@media all and (min-width: 1024px) {
  .inner {
    /*max-width: 1024px;*/
    margin: 0 auto;
  }
}

/* 카카오맵 CSS */
/*
body {
  height: 100%;
  width: 100%;
}
*/

nav {
  height: 59px;
}

main {
  position: relative;
  height: 100%;   /* 확장 */
  display: flex;
  flex-direction: column;
}

/*
#map {
  flex-grow: 1;
  width: 100%;
  height: 100%;
  margin-top: 0;
}
*/

.search-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  margin-top: 0;
  padding-bottom: 0;
}

.search-container input {
  padding: 5px 3px;
  margin-right: 3px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-container button {
  padding: 5px 10px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.search-container button:hover {
  background-color: #555;
}


#map {
  position: relative; /* 이를 통해 map 내부의 자식 요소들에게 절대 위치를 지정할 수 있게 됩니다. */
}

.searchInput {
  width: 50px;
  height: 100%;
  border: 0px;
  outline: none;
}

.ol-full-screen.ol-unselectable.ol-control {
  visibility: hidden;
}

.switch_wrapper{
  position: absolute;
  margin-top: 0.4rem;
  margin-right: 0.3rem;
  height: 50px;
  width: 48px;
  align-items: center;
  top:0;
  right: 0;
  z-index: 20;
}

.chkbox{
  position: absolute;
  appearance: none;
}

.switch_label{
  position: relative;
  width: 48px;
  height: 24px;
  background-color: white;
  display: inline-block;
  border: 2px solid rgb(245, 200, 193);
  border-radius: 18px;
  transition: 0.3s;
}

.switch_label:hover{
  background-color: rgb(228, 225, 225);
}

.btn{
  position: absolute;
  width: 14px;
  height: 14px;
  top: 3px;
  left: 2px;
  display: inline-block;
  border-radius: 14px;
  background-color: rgb(245, 200, 193);
  transition: 0.2s;
}

/* 체크 */

.chkbox:checked+.switch_label{
  background: rgb(247, 117, 57);
  border: 2px solid rgb(247, 117, 57);
  
}

.chkbox:checked+.switch_label:hover{
  background-color: rgb(255, 132, 101);
}

.chkbox:checked+.switch_label .btn{
  left: 28px;
  background-color: white;
  box-shadow: 1px black;
}

.ol-popup {
  position: fixed;
  background: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border: 1px solid #cccccc;
  bottom: 12px;
  left: -50px;
  min-width: 250px;
  z-index: 0;  
}
.ol-popup:after, .ol-popup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.ol-popup:after {
  border-top-color: white;
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}
.ol-popup:before {
  border-top-color: #cccccc;
  border-width: 11px;
  left: 48px;
  margin-left: -11px;
}
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    position: absolute;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .ol-zoom.ol-unselectable.ol-control{
    top:unset;
    left: unset;
    position :absolute;
    right: .5rem;
    bottom: .5rem;
  }

  #searchResults {
    position: absolute;
    top: 100%; /* 입력 필드의 높이만큼 아래에 위치 */
    justify-content: center;
    align-items: center;
    max-width: 300px; /* 최대 너비를 300px로 설정 */
    width: calc(100% - 20px); /* 부모 요소에 맞추어 너비를 100%로 설정 */
    z-index: 30;
    background-color: white;
    border: 1px solid #ddd;
    border-top: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow-y: auto; /* 세로 스크롤 허용 */
    max-height: 300px; /* 최대 높이 설정 */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* 결과 창에 그림자 효과 추가 */
  }
  
  #searchResults li {
    padding: 10px;
    cursor: pointer;
  }
  
  #searchResults li:hover {
    background-color: #f7f7f7;
  }

.search-bar-container {
  height: 3rem;
  padding: 0 0.5rem;
  position: absolute; /* 절대 위치 */
  top: 0px; /* 상단에서의 위치 */
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000; /* 다른 요소 위에 표시 */
  display: flex;
  background-color: white;
  flex-direction: row; /* 가로 방향으로 배열 */
  align-items: center; /* 세로 중앙 정렬 */
  gap: 0.5rem; /* 요소들 사이 간격 */
}

.search-bar {
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.search-bar input {
  width: 14rem; /* 입력란의 너비 */
  padding: 5px; /* 입력란 내부의 패딩 */
  margin-bottom: 2px; /* 입력란 아래의 여백 */
}

/* 자동완성 목록을 별도의 컨테이너로 분리 */
.autocomplete-container {
  position: absolute; /* 절대 위치 */
  top: 100%; /* 입력란 바로 아래 */
  left: 0;
  right: 0;
  z-index: 1000; /* 다른 요소 위에 표시 */
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow-y: auto; /* 넘치면 스크롤 */
  max-height: 25rem; /* 최대 높이 설정 */
}

.search-bar div {
  background-color: #f1f1f1; /* 자동완성 목록의 배경색 */
  padding: 5px; /* 자동완성 목록의 패딩 */
  cursor: pointer; /* 마우스 커서 스타일 */
}

.search-bar div:hover {
  background-color: #ddd; /* 마우스 오버시 배경색 변경 */
}

.button-container{
  height: 100%;
}

.button-container button {
  height: 100%;
}

/*
button {
  padding: 5px 10px;
}
*/
