@font-face {
    font-family: "TheJamsil5Bold";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2")
      format("woff2");
    font-weight: 100;
    font-style: normal;
  }
  
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  /* html {
    font-size: 10px;
    font-family: "TheJamsil5Bold";
    height: 100%;
    width: 100%;
  }
   */
  .inner {
    padding: 0 1.5rem;
    width: 100%;    /* 1024 이상 잘림 방지*/
    height: 100%;   /* 확장 */
  }
  
  @media all and (min-width: 1024px) {
    .inner {
      /*max-width: 1024px;*/
      margin: 0 auto;
    }
  }
  
  /* 카카오맵 CSS */
  /*
  body {
    height: 100%;
    width: 100%;
  }
  */

  /*
  #map {
    flex-grow: 1;
    width: 100%;
    height: 100%;
    margin-top: 0;
  }
  */

  #map {
    position: relative; /* 이를 통해 map 내부의 자식 요소들에게 절대 위치를 지정할 수 있게 됩니다. */
  }