.container{
  position : fixed;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

div.olControlScaleLine { 
  left: auto; 
  bottom:10px; 
  font-size:xx-small; 
  right:10px; 
  background-color:white; 
  margin: 20 20 20 20; 
  border:solid white 10px; 
  }     

@font-face {
  font-family: "TheJamsil5Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2")
    format("woff2");
  font-weight: 100;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "TheJamsil5Bold";
  height: 100%;
  width: 100%;
}

nav {
  /* background-color: #e69a06; */
}

.nav-container {
  width: 100%;
  height: 100%;
  padding: 2rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-title {
  font-size: 3rem;
}

.nav-safe {
  position : absolute;
  right: 0;
  width: 50px;
  font-size: 1.5rem;
  border: 0;
  cursor: pointer;
  font-family: inherit;
  background-color: white;
}

.nav-safe:hover {
  background-color: rgb(202, 199, 199);
}

.category-title {
  font-size: 3.5rem;
}

.category-list {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 50px;
  z-index: 20;
  border-top: 1px;
  background-color: white;
}

.category-item {
  width: 25%;
  height: 5rem;
  background: none;
  border: none;
  font-family: inherit;
  font-size: 1.6rem;
}

.category-item:hover {
  color: gray;
  cursor: pointer;
}

.inner {
  padding: 0 1.5rem;
  width: 100%;    /* 1024 이상 잘림 방지*/
  height: 100%;   /* 확장 */
}

@media all and (min-width: 1024px) {
  .inner {
    /*max-width: 1024px;*/
    margin: 0 auto;
  }
}

/* 카카오맵 CSS */
/*
body {
  height: 100%;
  width: 100%;
}
*/

nav {
  height: 59px;
}

main {
  position: relative;
  height: 100%;   /* 확장 */
  display: flex;
  flex-direction: column;
}

/*
#map {
  flex-grow: 1;
  width: 100%;
  height: 100%;
  margin-top: 0;
}
*/

.search-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  margin-top: 0;
  padding-bottom: 0;
}

.search-container input {
  padding: 5px 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-container button {
  padding: 5px 10px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.search-container button:hover {
  background-color: #555;
}


#map {
  position: relative; /* 이를 통해 map 내부의 자식 요소들에게 절대 위치를 지정할 수 있게 됩니다. */
}

#myRoundButton {
  position: absolute; /* 버튼의 위치를 절대 위치로 지정 */
  top: 10px; /* 버튼을 지도의 상단에서 10px 떨어진 곳에 위치 */
  left: 10px; /* 버튼을 지도의 왼쪽에서 10px 떨어진 곳에 위치 */
  z-index: 10; /* 다른 지도 요소들 위에 버튼이 보이게 하기 위해 z-index 값을 크게 설정 */
  border-radius: 50%; /* 버튼을 원형으로 만들기 위해 */
  padding: 10px 15px; /* 버튼 내부의 패딩 값 지정 */
}

.searchInput {
  width: 50px;
  height: 100%;
  border: 0px;
  outline: none;
}

.ol-full-screen.ol-unselectable.ol-control {
  visibility: hidden;
}

.switch_wrapper{
  position: absolute;
  margin-top: 0.4rem;
  margin-right: 0.3rem;
  height: 50px;
  width: 48px;
  align-items: center;
  top:0;
  right: 0;
  z-index: 20;
}

.chkbox{
  position: absolute;
  appearance: none;
}

.switch_label{
  position: relative;
  width: 48px;
  height: 24px;
  background-color: white;
  display: inline-block;
  border: 2px solid rgb(245, 200, 193);
  border-radius: 18px;
  transition: 0.3s;
}

.switch_label:hover{
  background-color: rgb(228, 225, 225);
}

.btn{
  position: absolute;
  width: 14px;
  height: 14px;
  top: 3px;
  left: 2px;
  display: inline-block;
  border-radius: 14px;
  background-color: rgb(245, 200, 193);
  transition: 0.2s;
}

/* 체크 */

.chkbox:checked+.switch_label{
  background: rgb(247, 117, 57);
  border: 2px solid rgb(247, 117, 57);
  
}

.chkbox:checked+.switch_label:hover{
  background-color: rgb(255, 132, 101);
}

.chkbox:checked+.switch_label .btn{
  left: 28px;
  background-color: white;
  box-shadow: 1px black;
}

.ol-popup {
  position: fixed;
  background: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border: 1px solid #cccccc;
  bottom: 12px;
  left: -50px;
  min-width: 280px;
  z-index: 0;  
}
.ol-popup:after, .ol-popup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.ol-popup:after {
  border-top-color: white;
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}
.ol-popup:before {
  border-top-color: #cccccc;
  border-width: 11px;
  left: 48px;
  margin-left: -11px;
}

.sidebar {
  height: 100%;
  width: 0px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.3s;/*펼침속도*/
  padding-top: 60px;
  }

  .sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  transition: 0.3s;
  }

  /*메뉴열기 hover 시*/
  .sidebar a:hover {
  color: #f1f1f1;
  }


  .sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  }

  .openbtn {
  position: absolute;
  width: 40px;
  font-size: 1.5rem;
  align-items: center;
  background-color: #111;
  color: white;
  padding: 5px 5px;
  border: none;
  }

  .openbtn:hover {
  background-color: #444;
  }

  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    position: absolute;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .ol-zoom.ol-unselectable.ol-control{
    top:unset;
    left: unset;
    position :absolute;
    right: .5rem;
    bottom: .5rem;
  }

  #searchResults {
    position: absolute;
    top: 100%; /* 입력 필드의 높이만큼 아래에 위치 */
    justify-content: center;
    align-items: center;
    max-width: 300px; /* 최대 너비를 300px로 설정 */
    width: calc(100% - 20px); /* 부모 요소에 맞추어 너비를 100%로 설정 */
    z-index: 10;
    background-color: white;
    border: 1px solid #ddd;
    border-top: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow-y: auto; /* 세로 스크롤 허용 */
    max-height: 300px; /* 최대 높이 설정 */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* 결과 창에 그림자 효과 추가 */
  }
  
  #searchResults li {
    padding: 10px;
    cursor: pointer;
  }
  
  #searchResults li:hover {
    background-color: #f7f7f7;
  }